#site-header {
  width: 100%; 
  height: 100%; 
  background: white;
  position: relative;
}

.logo-container {
  float: left;
  position: absolute;
  top: 48px;
  left: 160px;
}

.menu-container {
  float: right;
  width: 40px;
  height: 10px;
}

.menu-button {
  cursor: pointer;
  position: absolute;
  top: 61px;
  right: 160px;
}

.main-menu {
  width: 100%;
  height: 500px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #050A3A;

  p {
    color: #FFF;
    font-family: $font1;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    float: left;
    position: absolute;
    top: 129px;
    left: 160px;
  }
}

.main-menu .close-element {
  position: absolute;
  top: 61px;
  right: 160px;
}

nav.main-menu .custom-menu {
  position: absolute;
  top: 115px;
  right: 157px;
}

ul.custom-menu-list {
  list-style: none;
}

.custom-menu-list a {
  text-decoration: none;
  color: white;
  font-family: $font1;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: relative;
}

// Underline for the list menu
.custom-menu-list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #FFD0A8 0%, #FF4FC0 100%);
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-menu-list li a:hover::after {
  opacity: 1;
  text-decoration: underline;
}