#our-partners {
  h2 {
      width: 419px;
      height: 79px;
      top: 3658px;
      left: dividebyonethird(156px);
      padding: 0px, 3px, 0px, 0px;
      position: absolute;
      font-family: $font1;
      font-size: dividebyonethird(63px);
      font-weight: 600;
      line-height: 73.83px;
      letter-spacing: 3px;
      text-align: left;
  }
}

.logoPartner1 {
  position: absolute;
  width: 91px;
  height: 106px;
  top: 3801px;
  left: dividebyonethird(161px);
  opacity: 0.55px;
}

.logoPartner2 {
  position: absolute;
  width: 187px;
  height: 44px;
  top: 3832px;
  left: dividebyonethird(371px);
}

.logoPartner3 {
  position: absolute;
  width: 172px;
  height: 59px;
  top: 3825px;
  left: dividebyonethird(677px);
}

.logoPartner4 {
  position: absolute;
  width: 221px;
  height: 64px;
  top: 3822px;
  left: dividebyonethird(968px);
  opacity: 0,55;
}

.logoPartner5 {
  position: absolute;
  width: 154px;
  height: 62px;
  top: 3823px;
  left: dividebyonethird(1308px);
  opacity: 0,55;
}

.logoPartner6 {
  position: absolute;
  width: 201px;
  height: 74px;
  top: 3818px;
  left: dividebyonethird(1561px);
  opacity: 0,55;
}